---
 layout: archive
---

 {{ content }}

 <html>
 <head>
 <meta name="google-site-verification" content="aAp-Ld0edambtgXw0_fF0tHhvll7gRpY4EOCXBkU7fM">
 <meta name="keywords" content="Yushi Hu, yushi hu, yushihu">
 <style>
 p.xsmall {
     line-height: 1.55;
     font-size: 9.5pt;
     margin-left: 40px;
 }

 p.small {
     line-height: 1.55;
     font-size: 11pt;
     margin-left: 40px;
 }

 ul.small {
     line-height: 1.55;
     font-size: 11pt;
 }

 p.small2 {
     line-height: 2.00;
     font-size: 11.5pt;
     margin-left: 40px;
 }

 p.medium {
     line-height: 1.55;
     font-size: 12.5pt;
     margin-left: 40px;
 }

 p.big {
     line-height: 1.55;
 }

 p.noindent {
     line-height: 1.55;
     font-size: 12pt;
 }


 </style>
 </head>
 <body>



 <p class="noindent">

   Hi! I am a first year PhD student at the University of Washington (UW).
   I am working in the  <a href="https://nlp.washington.edu/" style="color: #57068C; text-decoration: none">UW NLP</a> group,
   where I am fortunate to be advised by Prof. <a href="https://people.ece.uw.edu/ostendorf/" style="color: #57068C; text-decoration: none">Mari Ostendorf</a>.
   I am primarily interested in Natural Language Processing and Speech Processing. I am now focusing on conversational AI.
   For example, how to leverage the power of big pretrained language models (GPT3, Codex) when dealing with dialogues? how to ground external knowledge in dialogue understanding and response generation?
<br><br>
  Prior to my PhD, I spent four wonderful years at the University of Chicago and got bachelor's degree in mathematics, computer science, and economics.
  In Chicago, I was advised by Prof. <a href="https://ttic.uchicago.edu/~klivescu/" style="color: #57068C; text-decoration: none">Karen Livescu</a> at <a href="https://www.ttic.edu/" style="color: #57068C; text-decoration: none">Toyota Technological Institute at Chicago (TTIC)</a>,
  where I worked on self-supervised learning of speech, solving tasks like speech recognition and keyword detection.
 <br><br>
Before focusing on NLP and ML, I also helped applying computational methods in physics. I worked with
Dr. <a href="https://www.anl.gov/profile/saidur-rahman-bakaul" style="color: #57068C; text-decoration: none">Saidur Bakaul</a> at Argonne National Laboratory
and Prof. <a href="http://info.phys.tsinghua.edu.cn/henucl/ning.htm" style="color: #57068C; text-decoration: none">Chuangang Ning</a> at Tsinghua University.

 <p>


 <h3 style="font-weight: 500">Research</h3>
 <hr>

<p class="small">
    <span style="font-weight:800"> <a href="https://arxiv.org/abs/2203.08568"
            style="font-size: 12pt; color: #0A897D; text-decoration: none"> In-Context Learning for Dialogue State Tracking </a> <br> </span>
    <span style="line-height:170%"> <b>Yushi Hu</b>, Chia-Hsuan Lee, Tianbao Xie, Tao Yu, Noah A. Smith, Mari Ostendorf</span>
    <br>
    <span style="line-height:170%"> In <i>Preprint 2022</i> </span>
    <br>


 <p class="small">
 <span style="font-weight:800"> <a href="https://arxiv.org/abs/2011.11807" style="font-size: 12pt; color: #0A897D; text-decoration: none"> Acoustic Span Embeddings for Multilingual Query-by-Example Search </a> <br> </span>
 <span style="line-height:170%"> <b>Yushi Hu</b>, Shane Settle, Karen Livescu</span>
 <br>
 <span style="line-height:170%"> In  <i>IEEE Spoken Language Technology Workshop (SLT 2021)</i> </span>
 <br>
 [<a href="https://arxiv.org/pdf/2011.11807" style="color: #0A897D; text-decoration: none">paper</a>] [<a href="https://github.com/Yushi-Hu/Query-by-Example" style="color: #0A897D; text-decoration: none">code</a>] [<a href="../misc/hu2020acoustic.txt" style="color: #0A897D; text-decoration: none">bibtex</a>][<a href="../misc/huslt2021presentation.pdf" style="color: #0A897D; text-decoration: none">slides</a>]


 <p class="small">
 <span style="font-weight:800"> <a href="https://arxiv.org/abs/2006.14007" style="font-size: 12pt; color: #0A897D; text-decoration: none"> Multilingual Jointly Trained Acoustic and Written Word Embeddings </a> <br> </span>
 <span style="line-height:170%"> <b>Yushi Hu</b>, Shane Settle, Karen Livescu</span>
 <br>
 <span style="line-height:170%"> In <i>Proceedings of INTERSPEECH 2020</i> </span>
 <br>
 [<a href="https://arxiv.org/pdf/2006.14007" style="color: #0A897D; text-decoration: none">paper</a>] [<a href="https://github.com/Yushi-Hu/Multilingual-AWE" style="color: #0A897D; text-decoration: none">code</a>] [<a href="../misc/hu2020multilingual.txt" style="color: #0A897D; text-decoration: none">bibtex</a>][<a href="../misc/hu2020presentation.pdf" style="color: #0A897D; text-decoration: none">slides</a>][<a href="http://www.interspeech2020.org/index.php?m=content&c=index&a=show&catid=273&id=528" style="color: #0A897D; text-decoration: none">video</a>][<a href="http://projector.tensorflow.org/?config=https://raw.githubusercontent.com/Yushi-Hu/Multilingual-AWE/master/emb-examples/awe-agwe-config.json" style="color: #0A897D; text-decoration: none">demo</a>]


 <p class="small">
 <span style="font-weight:800"> Freestanding Ferroelectric Bubble Domains<br> </span>
 <span style="line-height:170%"> Saidur R Bakaul, Sergei Prokhorenko, Qi Zhang, Yousra Nahas, <b>Yushi Hu</b>, Amanda Petford-Long, Laurent Bellaiche, Nagarajan
Valanoor</span>
 <br>
 <span style="line-height:170%"> Advanced Materials, 2021 </span>
 <br>

 <p class="small">
 <span style="font-weight:800"> <a href="https://arxiv.org/abs/1608.06936" style="font-size: 12pt; color: #0A897D; text-decoration: none"> A Simple Setup to Measure Muon Lifetime and Electron Energy Spectrum of Muon Decay and its Monte Carlo Simulation</a> <br> </span>
 <span style="line-height:170%"> <b>Yushi Hu</b>, Tianye Wang, Yefeng Mei, Zhao Zhang, Chuangang Ning</span>
 <br>
 <span style="line-height:170%"> In <i>物理与工程, 2016.05</i> </span>
 <br>
[<a href="https://arxiv.org/pdf/1608.06936" style="color: #0A897D; text-decoration: none">English version preprint</a>]




 <!-- <h3 style="font-weight: 500">Presentations</h3>
 <hr>


 <ul class="small">

<li> Presentation on <i> Multilingual Jointly Trained Acoustic and Word Embeddings in EMNLP 2020 SIGTYP workshop (virtual) [<a href="https://slideslive.com/38939801/multilingual-jointly-trained-acoustic-and-written-word-embeddings" style="color: #0A897D; text-decoration: none">video</a>] </li>

 <li> Presentation on <i> Multilingual Jointly Trained Acoustic and Word Embeddings in INTERSPEECH 2020 (virtual) [<a href="http://www.interspeech2020.org/index.php?m=content&c=index&a=show&catid=273&id=528" style="color: #0A897D; text-decoration: none">video</a>]</li>

 </ul> -->

 <h3 style="font-weight: 500">Experience</h3>
 <hr>

  <ul class="small">
 <li> Research Assistant, Toyota Technological Institute at Chicago, Chicago, IL, 2019 - 2021</li>
 <li> Machine Learning Engineer Intern, Learnable.ai, Boston, MA, summer 2019</li>
 <li> Research Intern, Argonne National Laboratory, Lemont, IL, summer 2018</li>
</ul>

 <!-- <h3 style="font-weight: 500">Teaching</h3>
 <hr>

 <ul class="small">

 <li>Autumn 2018, Winter 2019. <i>Course Assistant</i>, MATH 20000: Mathematical Methods for Physical Science I<br></li>
 <li>Autumn 2019, Winter 2020. <i>Course Assistant</i>, MATH 20100: Mathematical Methods for Physical Science II<br></li>
 <li>Spring 2019. <i>Course Assistant</i>, MATH 20250: Abstract Linear Algebra<br></li>

 </ul> -->












 <!--
 <h3 style="font-weight: 500">Relevant Coursework</h3>
 <hr>

 <p class="xsmall">
 <span style="line-height:300%"> <u> At the University of Chicago (2015-2019) </u> </span>
 <br>
 CMSC 27230 - Honors Theory of Algorithms<br>
 CMSC 25025 / STAT 37601 - Machine Learning and Large-Scale Data Analysis (grad level, Lafferty)<br>
 CMSC 35400 / STAT 37710 - Machine Learning (grad level, Kondor)<br>
 TTIC 31020 - Statistical Machine Learning (grad level, Shakhnarovich)<br>
 TTIC 31190 - Natural Language Processing (grad level, Gimpel)<br>
 TTIC 41000 - Spectral Techniques (grad level, Stratos)<br>
 MATH 20300-20500 - Accelerated Real Analysis I, II, III<br>
 MATH 20250, 25400-25500 - Abstract Linear Algebra; Abstract Algebra I, II<br>
 BIOS 10602-10603 - Multiscale Modeling of Biological Systems I, II (computational biology)
  -->





 <br><br><br><br><br>
